﻿@{
    ViewData["Title"] = "Recommendation";
}

@section scripts{
    <script src="~/js/recommendation.js" asp-append-version="true"></script>
}


@section Styles {
    <link rel="stylesheet" href="~/css/recommendation.css" type="text/css" />
}

<div class="recommendationContainer">
    <div class="usersRecommendation">
        <section class="carousel slide" data-ride="userCarousel" id="postsCarousel">
            <div class="row arrows">
                <div class="col text-left">
                    <h2>Other users also saw</h2>
                </div>
                    <div class="col text-right">
                        <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                        <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                    </div>
                </div>
        </section>
        <section class="carousel slide" data-ride="userCarousel" id="postsCarousel">
            <div class="p-t-0 m-t-2 carousel-inner">
            </div>
        </section>
    </div>
    <div class="profileRecommendation">
        <section class="carousel slide" data-ride="carousel" id="postsCarousel">
            <div class="row arrows">
                <div class="col text-left">
                    <h2>Offers that may interest you</h2>
                </div>
                <div class="col text-right">
                    <a class="btn btn-outline-secondary prev" href="" title="go back"><i class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
</section>
        <section class="carousel slide" data-ride="carousel" id="postsCarousel">
            <div class="p-t-0 m-t-2 carousel-inner">
            </div>
        </section>
    </div>
</div>