﻿@{
    ViewData["Title"] = "Last Visited";
}

@section scripts{
    <script src="~/js/paginationManager.js" asp-append-version="true"></script>
    <script src="~/js/lastVisited.js" asp-append-version="true"></script>
}


@section Styles {
    <link rel="stylesheet" href="~/css/lastVisited.css" type="text/css" />
}

<div class="visitedContainer">

</div>
<br/>