﻿<div class="filtersRealContainer">
    <div class="title">
        Filters
    </div>

    <div class="filter price">
        <div class="filterTitle">
            Price range
        </div>
        <div class="filterValues">
            <div class="priceSlider"></div>
        </div>
    </div>

    <div class="filter processorSeries">
        <div class="filterTitle">
            Processor series
        </div>
        <div class="filterValues">
            <select class="form-control">
                <option value="*">*</option>
                <option value="Intel Core i3">intel Core i3</option>
                <option value="Intel Core i5">intel Core i5</option>
                <option value="Intel Core i7">intel Core i7</option>
                <option value="other">other</option>
            </select>
        </div>
    </div>

    <div class="filter diskType">
        <div class="filterTitle">
            Disk type
        </div>
        <div class="filterValues">
            <select class="form-control">
                <option value="*">*</option>
                <option value="HDD">HDD</option>
                <option value="SSD">SSD</option>
                <option value="SSD + HDD">SSD + HDD</option>
                <option value="other">other</option>
            </select>
        </div>
    </div>

    <div class="filter matrixResolution">
        <div class="filterTitle">
            Matrix resolution
        </div>
        <div class="filterValues">
            <select class="form-control">
                <option value="*">*</option>
                <option value="1366 x 768">1366 x 768 (HDR)</option>
                <option value="1600 x 900">1600 x 900</option>
                <option value="1920 x 1080">1920 x 1080 (FHD)</option>
                <option value="3840 x 2160">3840 x 2160 (4K)</option>
                <option value="other">other</option>
            </select>
        </div>
    </div>

    <div class="filter minDiskSize">
        <div class="filterTitle">
            Minimum disk size
        </div>
        <div class="filterValues">
            <div class="input-group">
                <input class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1">GB</span>
                </div>
            </div>
        </div>
    </div>

    <div class="filter minRamSize">
        <div class="filterTitle">
            Minimum RAM size
        </div>
        <div class="filterValues">
            <div class="input-group">
                <input class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1">GB</span>
                </div>
            </div>
        </div>
    </div>

    <div class="buttonContainer">
    </div>
</div>