﻿@{
    ViewData["Title"] = "Offers";
}

@section Styles {
    <link rel="stylesheet" href="~/css/offers.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/jq-range-slider/css/iThing.css" />
}


@section scripts{
    <script src="~/js/paginationManager.js" asp-append-version="true"></script>
    <script src="~/js/offersManager.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jq-range-slider/dest/jQEditRangeSlider-min.js" asp-append-version="true"></script>
}
<div class="row">
    <div class="col-6 col-md-3">
        <div class="filtersContainer">
            @await Html.PartialAsync("Filters")
        </div>
    </div>

    <div class="col-12 col-md-9 offersContainer">
    </div>
</div>
<div class="row mt paginationRow">
    <div class="col-6 col-md-3">
    </div>

    <div class="col-12 col-md-9 paginationContainer">
    </div>
</div>
