﻿@{
    ViewData["Title"] = "Home Page";
}

@section scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}


@section Styles {
    <link rel="stylesheet" href="~/css/home.css" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <div class="item" profile="gaming">
                <img src="~/images/gaming_photo.jpg" />
                <div>Gaming series</div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="item" profile="office">
                <img src="~/images/office_photo.jpg" />
                <div>Office series</div>
            </div>

        </div>
        <div class="col col-md-4">
            <div class="item" profile="student">
                <img src="~/images/school_photo.jpg" />
                <div>School series</div>
            </div>

        </div>
    </div>
</div>