﻿body {
    background-image: url("/images/home_background.jpg");
    background-size: 100% 100%;
}

.container .row .col{
    position: relative;
}

.container .row .item {
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}


.container .row .item div{
    display: none;
}

.container .row .item:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 15px 7px #C7C7C7;
}

.container .row .item:hover img + div {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    margin-top: 50px;
}

.container .row {
    height: 90vh;
}

.item img {
    width: 100%;
    height: 100%;
}