﻿.visitedContainer{
    width: 100%;
    overflow: auto;
}
.offerCard {
    padding: 10px;
    width: 24%;
    font-size: 1.0vw;
    margin-bottom: 10px;
    margin: 5px;
    white-space: nowrap;
    float: left;
    min-width: 270px;
}

.offerCard .card-title {
    font-size: 1.0vw;
}

.offerCard .image {
    width: 100%;
    height: 200px;
    position: relative;
}

.offerCard img {
    max-height: 200px;
    max-width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.offerCard .card-body{
    height: 300px;
}