﻿.offerCard{
    padding: 10px;
}

.offerCard .card-title {
    white-space: nowrap;
    font-size: 1.5vw;
}

.offerCard .image {
    width: 100%;
    height: 100%;
    position: relative;
}

.offerCard img {
    max-height: 200px;
    max-width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.offerCard:not(:first-child) {
    margin-top: 10px;
}

.paginationRow{
    margin-top: 15px;
}

.filtersContainer {
    background: #e9e9e9;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.filtersRealContainer {
    padding: 20px;
    font-weight: bold;
}

.filtersRealContainer .title{
    font-size: 1.3em;
    border-bottom: 0.5pt solid black;
}

.filter{
    margin-top: 15px;
}

.filterValues{
    margin-top: 5px;
}

.buttonContainer {
    margin-top: 15px;
    text-align: right;
}

.ratingButton{
    float: right;
    margin-left: 5px;
}