﻿

.offerCard {
    padding: 10px;
    width: 24%;
    font-size: 1.0vw;
    margin-bottom: 10px;
    margin: 5px;
    white-space: nowrap;
    float: left;
    min-width: 270px;
}

.offerCard .card-title {
    font-size: 1.0vw;
}

.offerCard .image {
    width: 100%;
    height: 200px;
    position: relative;
}

.offerCard img {
    max-height: 200px;
    max-width: 200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.offerCard .card-body {
    height: 300px;
}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner > .row-equal.active.left,
.carousel-inner > .row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow: hidden;
}

.carousel .row{
    margin: 0px !important;
}

.carousel .col{
    padding-left: 0px;
}

.carousel .arrows{
    margin-bottom: 20px !important;
}

.usersRecommendation{
    margin-bottom: 20px;
}